@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
    font-size: 16px;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

html, body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

:root {
    --main__card--blue: rgb(0, 123, 255);
    --main__card--yellow: rgb(255, 193, 7);
    --main__card--green: rgb(40, 167, 69);
    --main__card--red: rgb(220, 53, 69);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.15rem;
    font-weight: 400;
}

h3 {
    display: inline;
    font-size: 1.25rem;
    font-weight: 400;
}

.header--dark {
    background-color: rgb(51, 57, 64);
    color: rgb(236, 236, 236);
    height: 5rem;
    line-height: 5rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.menu__left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 20%;
}

.fa-bars {
    color: #979797;
}

.fa-bars:before {
    font-size: 1.2rem;
}

.fa-user {
    margin-right: 0.5rem;
}

.fa-sort-down {
    padding-bottom: 0.5rem;
}

.fa-user:before, .fa-sort-down:before {
    font-size: 1.4rem;
    color: #979797;
}

.menu__right {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    justify-content: flex-end;
}

.header__search {
    display: inline;
    margin-right: 2rem;
}

.search__input, .search__btn {
    font-size: 1.2rem;
    padding: 0.375rem 0.75rem;

}

.search__input {
    border: solid 2px #979797;
    border-radius: 4px 0 0 4px;
    -webkit-transition: border 0.15s linear;
    transition: border 0.15s linear;
    color: #636363;
}

.search__input:focus {
        outline: none;
        border: 2px solid rgb(128, 189, 255);
}

.search__btn {
    background-color: rgb(0, 123, 255);
    border: solid 2px rgb(0, 123, 255);
    border-radius: 0 4px 4px 0;
    color: #fff;
    margin-left: -4px;
    cursor: pointer;
}

.search__btn:focus {
    outline: none;
}

@media screen and (max-width: 768px) {
    .menu__left {
        width: 100%;
}
.header__search {
    display: none;
}
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
}

aside {
    background-color: rgb(33, 37, 41);
    position: relative;
    padding: 30px 20px 100px;
}

.nav__ul h5 {
    text-transform: uppercase;
    font-weight: 600;
    color: #979797;
}

.nav__ul {
    list-style-type: none;
    padding: 0;
}

.nav__ul li a {
    text-decoration: none;
    line-height: 4rem;
}

.link {
    color: #979797;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.link__active {
    color: #fff;
}

.fa-tachometer:before, .fa-windows:before, .fa-bookmark:before, .fa-area-chart:before, .fa-table:before {
    margin-right: 10px;
}

.link .fa-angle-right {
    position: absolute;
    right: 1rem;
} 

.content {
    padding: 0 2rem;
    position: relative;
    width: 82%;
}

.content h1 {
    margin: 3rem 0 0.75rem 0;
}

.main__breadcrumb {
    background-color: rgb(233, 236, 239);
    display: block;
    border-radius: 0.25rem;
    padding: 1rem 1.5rem;
}

.title__breadcrumb {
    font-size: 1.25rem;
    color: #838282;
    margin: 0;
}

.main__cards {
    display: flex;
    flex-direction: row;
}

.main__card {
    display: flex;
    flex-direction: column;
    width: 25%;
    color: #fff;
    margin-top: 2rem;
}

@media screen and (max-width: 768px) {
    .main__cards {
        flex-direction: column;
}
    .main__card {
        width: 100%;
}
}

.main__card--blue, .main__card--yellow, .main__card--green {
    margin-right: 2rem;
}

.main__card--blue .card__top, .main__card--blue .card__bottom {
    background-color: var(--main__card--blue);
    transition: background-color 0.3s ease-in-out;
}

.main__card--yellow .card__top, .main__card--yellow .card__bottom {
    background-color: var(--main__card--yellow);
    transition: background-color 0.3s ease-in-out;
}

.main__card--green .card__top, .main__card--green .card__bottom {
    background-color: var(--main__card--green);
    transition: background-color 0.3s ease-in-out;
}

.main__card--red .card__top, .main__card--red .card__bottom {
    background-color: var(--main__card--red);
    transition: background-color 0.3s ease-in-out;
}

.card__top {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem 0.25rem 0 0;
    padding: 1rem 1.75rem;
}

.card__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0 0 0.25rem 0.25rem;
    padding: 0.5rem 1.75rem;
}

.fa-angle-right {
    color: #fff;
}