@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
    font-size: 16px;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.header--dark {
    background-color: rgb(51, 57, 64);
    color: rgb(236, 236, 236);
    height: 5rem;
    line-height: 5rem;
    padding: 0 2rem;
}

h3 {
    display: inline;
    font-size: 1.25rem;
    font-weight: 400;
}

.header__search {
    display: inline;
    float: right;
}

.search__input, .search__btn {
    font-size: 1.2rem;
    padding: 0.375rem 0.75rem;

}

.search__input {
    border: solid 2px #cecece;
    border-radius: 4px 0 0 4px;
    -webkit-transition: border 0.15s linear;
    transition: border 0.15s linear;
    color: #cecece;
}

.search__input:focus {
        outline: none;
        border: 2px solid rgb(128, 189, 255);
}

.search__btn {
    background-color: rgb(0, 123, 255);
    border: solid 2px rgb(0, 123, 255);
    border-radius: 0 4px 4px 0;
    color: #fff;
    margin-left: -4px;
    cursor: pointer;
}

.search__btn:focus {
    outline: none;
}


aside {
    background-color: rgb(33, 37, 41);
    float: left;
    position: relative;
    top: -20px;
    padding: 30px 20px 100px;
}

.main__naiv {

}

.nav__ul {
    list-style-type: none;
    padding: 0;
}

.nav__ul li {
    color: #fff;
}

.nav__ul li a {
    color: #fff;
    text-decoration: none;
    line-height: 4rem;
}

.fa-tachometer:before, .fa-windows:before, .fa-bookmark:before, .fa-area-chart:before, .fa-table:before {
    margin-right: 10px;
}